**/.*swp
**/a.out
.localenv
tests/netdata/netdata.git
tests/netdata/install
tests/**/units
tests/**/make.trace
tests/**/make.units
tests/**/build.sh
tests/**/units.list
tests/**/units.missing
tests/**/objs.list
tests/netdata/staticlibs.list
tests/netdata/extlibs.list
tests/linux/linux.git
